.Main {
}

.Body {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
}

.Body-lyrics {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
    padding-top: 20px;
    height: 100%;
}


.Header-title{
    padding-left: 90px;
    /* background-color: #fcfcfc; */
}

.BigText{
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 100px;
    background-color: #ffefef;
}

.BigText-searchbar{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    background-color: #ffefef;
}

.Lyrics{
    white-space: pre-wrap;
}

.Footer-copyright{
    justify-content: center;
    align-items: center;
}

/* NEW */
.Main-page{
    /* display: flex;
    height: 100vh; */
}

.BigText-text{
    font-size: 30px;
    color: #343434;
    font-weight: bold;
    padding-left: 50px;
    padding-right: 50px;
}

.Top-bar{
    padding-top: 80pt;
    padding-bottom: 50pt;
    color: #343434;
    background-color: #ffefef;
}

.Top-bar-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Top-bar-input-web{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Top-bar-input-mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Top-bar-find-button{
    display: flex;
}

.Lyrics-bar{
    color: #343434;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    white-space: pre-wrap;
    font-size: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 80px;
    padding-top: 20px;
}

.Footer{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    bottom:1px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: #bfbfbf;
    font-size: 15px;
}

.Header{
    display: flex;
    position: fixed;
    top:0;
    height:60px;
    width: 100%;
    background-color:#ffe8e8;
    align-items: center;
    justify-content: center;
}

.Header-main-logo{
    width: auto;
    height: 40px;
}

.Back-to-top{
    position: fixed;
    bottom:0;
    right:0;
    margin-bottom: 80px;
    margin-right: 20px;
    border-radius: 500px;
}

.Back-to-top-image{
    height: 35px;
    width: 35px;
    padding: 10px;
    border-radius: 100px;
    background-color: #ffb0b0;
}

.Image-empty{
    height: 200px;
    width: 200px;
}